<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <title>Shottie!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-— facebook open graph tags -->
    <meta property="og:site_name" content="Shottie"/>
    <meta property="og:title" content="Cross-browser screenshot automation" />
    <meta property="og:description" content="Shottie enables testers and developers to quickly screenshot their web applications across hundreds of platforms"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://shottie.herokuapp.com/" />
    <meta property="og:image" content="http://shottie.herokuapp.com/static/logo.png" />

    <!-— twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="shottie.herokuapp.com/.com" />
    <meta name="twitter:title" value="Shottie" />
    <meta name="twitter:description" value="Shottie enables testers and developers to quickly screenshot their web applications across hundreds of platforms" />
    <meta name="twitter:image" content="http://shottie.herokuapp.com/static/logo.png" />
    <meta name="twitter:url" value="http://shottie.herokuapp.com/" />

</head>
<body style="padding-left:30px;">
    <div>
        <div class="row">
            <div>
                <img rel="shortcut icon" src="{{ url_for('static', filename='favicon.ico') }}" height="43">
            </div>
            <div style="padding-left:5px;">
                <h1>Shottie</h1>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>