{% extends "base.html" %}
{% block content %}

    <!--<h1>-->
        <!--<img rel="shortcut icon" src="{{ url_for('static', filename='favicon.ico') }}" height="50">Shottie-->
    <!--</h1>-->
    <div>
        <div class="row">
            <div>
                <img rel="shortcut icon" src="{{ url_for('static', filename='favicon.ico') }}" height="43">
            </div>
            <div style="padding-left:5px;">
                <h1>Shottie</h1>
            </div>
        </div>
    </div>

    <hr>
    <h3>Instructions</h3>
    <ul>
        <li>Enter your Saucelabs username and access key</li>
        <li>Enter the URL/s you'd like to hit (comma separated)</li>
        <li>Enter any required Webdriver commands (note that these are all rooted to a remotewebdriver instance, see example code)</li>
        <li>Select the browser, platform and version you want and click Add Combination</li>
        <li>Repeat for as many combinations as you want</li>
        <li>Click Start Screenshotting to start the screenshotting jobs</li>
    </ul>
    <hr>
    <form action="" method="post" name="submit">
        {{ form.hidden_tag() }}
        <p>
        <h5>Saucelabs Username:</h5>
            {{ form.username(class_="form-control") }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Saucelabs Access Key:</h5>
            {{ form.accesskey(class_="form-control") }}<br>
            {% for error in form.accesskey.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Saucelabs Tunnel Name:</h5>
            {{ form.tunnelname(class_="form-control") }}<br>
            {% for error in form.tunnelname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Screenshot URLs:</h5>
            {{ form.urls(class_="form-control") }}<br>
            {% for error in form.urls.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Webdriver commands:</h5>
            {{ form.commands(cols=80, rows=5, class_="form-control") }}<br>
            {% for error in form.urls.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Browser:</h5>
            {{ form.select_browser(class_="form-control") }}<br>
            {% for error in form.select_browser.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Platform:</h5>
            {{ form.select_platform(class_="form-control") }}<br>
            {% for error in form.select_platform.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

        <h5>Version:</h5>
            {{ form.select_version(class_="form-control") }}<br>
            {% for error in form.select_version.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p>
        <p>{{ form.clear(class_="btn btn-warning") }}</p>
        <p>{{ form.add(class_="btn btn-info") }}</p>
        <p>{{ form.runtests(class_="btn btn-success") }}</p>

        {% for saved_combination in saved_combinations %}
        <span><p>{{ saved_combination }}</p></span>
        {% endfor %}
  </form>

<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        platform: $('#select_platform'),
        browser: $('#select_browser'),
        version: $('#select_version')
    };

    // call to update on load
    updateVersions();
    updatePlatforms();

    // function to call XHR and update browser dropdown
    function updateVersions() {

        dropdown.version.attr('disabled', 'disabled');
        dropdown.version.empty();

        $.getJSON("versions/"+dropdown.browser.val(), function(data) {
            data.forEach(function(item) {
                dropdown.version.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.version.removeAttr('disabled');
        });
    }

    function updatePlatforms() {
        var send = {
            platform: dropdown.version.val()
        };
        dropdown.platform.attr('disabled', 'disabled');
        dropdown.platform.empty();

        $.getJSON("operating_systems/"+dropdown.browser.val(), function(data) {
            data.forEach(function(item) {
                dropdown.platform.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.platform.removeAttr('disabled');
        });
    }

    dropdown.browser.on('change', function() {
        updateVersions();
        updatePlatforms();
    });

});

</script>
{% endblock %}