{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="submit">
        {{ form.hidden_tag() }}
        <p>
            Saucelabs Username:<br>
            {{ form.username(size=80) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Saucelabs Access Key:<br>
            {{ form.accesskey(size=80) }}<br>
            {% for error in form.accesskey.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Saucelabs Tunnel Name:<br>
            {{ form.tunnelname(size=80) }}<br>
            {% for error in form.tunnelname.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Screenshot URLs:<br>
            {{ form.urls(size=80) }}<br>
            {% for error in form.urls.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Browser:<br>
            {{ form.select_browser() }}<br>
            {% for error in form.select_browser.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Platform:<br>
            {{ form.select_platform() }}<br>
            {% for error in form.select_platform.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            Version:<br>
            {{ form.select_version() }}<br>
            {% for error in form.select_version.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
      </p>
        <p>{{ form.add }}</p>
        <p>{{ form.runtests }}</p>
        <p>{{ form.clear }}</p>
      <!--<p><input name="submit_button" type="submit" value="Submit"></p>-->
        {% for saved_combination in saved_combinations %}
        <span><p>{{ saved_combination }}</p></span>
        {% endfor %}
  </form>

<script charset="utf-8" type="text/javascript">

$(function() {

    // jQuery selection for the 2 select boxes
    var dropdown = {
        platform: $('#select_platform'),
        browser: $('#select_browser'),
        version: $('#select_version')
    };

    // call to update on load
    updateVersions();
    updatePlatforms();

    // function to call XHR and update browser dropdown
    function updateVersions() {

        dropdown.version.attr('disabled', 'disabled');
        dropdown.version.empty();

        $.getJSON("versions/"+dropdown.browser.val(), function(data) {
            data.forEach(function(item) {
                dropdown.version.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.version.removeAttr('disabled');
        });
    }

    function updatePlatforms() {
        var send = {
            platform: dropdown.version.val()
        };
        dropdown.platform.attr('disabled', 'disabled');
        dropdown.platform.empty();

        $.getJSON("operating_systems/"+dropdown.browser.val(), function(data) {
            data.forEach(function(item) {
                dropdown.platform.append(
                    $('<option>', {
                        value: item[0],
                        text: item[1]
                    })
                );
            });
            dropdown.platform.removeAttr('disabled');
        });
    }

    dropdown.browser.on('change', function() {
        updateVersions();
        updatePlatforms();
    });

});

</script>
{% endblock %}